*{
    margin:0;
    padding:0;
}

.main{
    width:100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(u.jpg);
    background-position: center;
    background-size: cover;
    height:fit-content;
}

.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}
.container{
    max-width: 600px;
    width: 100%;
    height: fit-content;
    background-size: cover;
    margin-left: 25%;
    margin-top:1%;
    background-position: center;
    height:109vh;
    background:rgb(243, 240, 235);
    padding:30px 30px;
    border-radius: 5px;
    
}
.container .title{
    font-size: 20px;
    font-weight: 500;
}

.container .title::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height: 3px;
    width: 25px;
    background: paleturquoise;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;


}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #110e13

}
form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 50%;
    margin-left: 25%;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: paleturquoise;
}

form .button input:hover{
    background: paleturquoise;
}
